@CHARSET "EUC-KR";


 body{margin:0; padding:0;}
 img{border:0;}
 *{margin:0; padding:0;}
 *htm{height:1px;} 
 
 
 .chartbox{height: 400px;}
 
.title{font-size:14px; color:#999; font-weight: 400; margin-bottom:-1px; }
.title-con{font-size:24px; color:#555; font-weight: 700; margin-bottom:10px; letter-spacing: -1px;}
.title-conul li{font-size:28px; color:#800000; font-weight: 700; margin: 10px; letter-spacing: -1px;}
.user-nick{font-size:26px; color:#555; font-weight: 700; margin-bottom:0px; letter-spacing: -1px;}
.user-info{margin-top:30px;}
.dash-menu{font-size: 16px; color: #555; font-weight: 200; line-height: 2.2;  }
.dash-menu li {border-bottom:1px solid #e7e7e7;  padding:8px;}
.dash-menu li a{ width: 140px; height: 30px; display: block; color:#000000;}
.dash-menu li a:HOVER{font-weight:600; color:#008000;}
.dash-body{margin:30px;}
.title-main{font-size: 16px; color: #ffffff; font-weight: 700;}
.title-djlive{font-size: 16px; color: #008000; font-weight: 700;}
.title-djlive li{font-size:28px; color:#000000; font-weight: 700; margin: 10px; letter-spacing: -1px;}

.title-pr{font-size: 16px; color: #000000; font-weight: 700;}
.title-pr-con{font-size: 12px; color: #808080; font-weight: 400; margin-top:10px;}
.link-aa a:link, a:visited{z-index:1; padding:5px 0px 230px 320px; diplay:inline-block;}
.link-pd{padding:0 20px;}
.rate .text-green{font-size: 18px; color: #555; font-weight: 700;}
.rate li{font-size: 17px; color: #555; font-weight: 400; display: inline; padding:5px;}
.with-border{}
.percent{display: block; position: absolute; font-size: 26px; top: 48px; width: 220px;}
.justhi{padding:30px;}
.filebox input[type="file"] {  /* 파일 필드 숨기기 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}
